{% extends 'exam_base.html.j2' %}
{% import 'macros.html.j2' as macros with context %}

{% block body %}
{% call macros.form(form) %}
<main class="mdl-grid">
  <div class="form-buttons">
      This may take a while.
    {{ form.submit(class="mdl-button mdl-js-button mdl-button--raised") }}
  </div>
</main>
{% endcall %}
{% endblock %}
