<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Exam Seat Assignments">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flash.css') }}">
    {% block head %}{% endblock %}
    <title>{% block title %}{{ title }}{% endblock %}</title>
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
        
          {% if exam %}
            <a href="{{ url_for('exam', exam=exam) }}">
              <span class="hidden-small mdl-layout__title">
                {{ exam.offering.name + " - " + exam.display_name }}
              </span>
            </a>
          {% elif offering %}
            <a href="{{ url_for('offering', offering=offering) }}">
              <span class="hidden-small mdl-layout__title">
                {{ offering.name }}
              </span>
            </a>
          {% else %}
            <a href="{{ url_for('index') }}">
              <span class="hidden-small mdl-layout__title">
                {{ title }}
              </span>
            </a>
          {% endif %}
          
          <div class="hidden-small mdl-layout-spacer"></div>

          {% if exam %}
            <nav class="mdl-navigation">
              <a id="room-menu" class="mdl-navigation__link" href="#">
                Rooms <i class="material-icons">expand_more</i>
              </a>
              <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="room-menu">
                <a class="mdl-menu__item add-item" href="{{ url_for('import_room', exam=exam) }}"><i class="material-icons">add</i>
                  <span>Add rooms...</span>
                </a>
              {% for room in exam.rooms %}
              <a href="{{ url_for('room', exam=exam, id=room.id) }}">
                <li class="mdl-menu__item">
                    {{ room.display_name }}
                    {% if room.start_at %}
                      <span style="margin-right: 5px;"><small>
                        {{ room.start_at_time_display() }}
                      </small></span>
                    {% endif %}
                    {% if room.duration_minutes %}
                      <span><small>
                        {{ room.duration_display }}
                      </small></span>
                    {% endif %}
                </li>
              </a>
              {% endfor %}
              </ul>
              <a class="mdl-navigation__link" href="{{ url_for('students', exam=exam) }}">Students</a>
              <a class="mdl-navigation__link" href="{{ url_for('offering', offering=exam.offering) }}">All Exams</a>
              <a class="mdl-navigation__link" href="{{ url_for('index') }}">All Offerings</a>
              <a class="mdl-navigation__link" href="{{ url_for('help') }}">Help</a>
            </nav>
          {% elif offering %}
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{ url_for('index') }}">All Offerings</a>
                <a class="mdl-navigation__link" href="{{ url_for('help') }}">Help</a>
            </nav>
          {% else %}
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{ url_for('index') }}">All Offerings</a>
                <a class="mdl-navigation__link" href="{{ url_for('help') }}">Help</a>
            </nav>
          {% endif %}
          {% if current_user.is_authenticated %}
            <a id="auth-menu" class="mdl-navigation__link" href="#">
                {{ current_user.name }} <i class="material-icons">expand_more</i>
            </a>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="auth-menu">
              <a class="mdl-navigation__link" href="{{ url_for('auth.logout') }}">
              <li class="mdl-menu__item">Log Out</li>
              </a>
            </ul>
          {% else %}
            <a class="mdl-navigation__link" href="{{ url_for('auth.login') }}">
              Login
            </a>
          {% endif %}
        </div>
      </header>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        <span class="alert-icon">🔔</span>
                        <span class="alert-message">{{ message.replace("\n", "<br>") }}</span>
                        <button type="button" class="close-alert" onclick="this.parentElement.style.display='none';">&times;</button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
      {% endwith %}

      <main class="mdl-layout__content">
        {% block body %}{% endblock %}
      </main>
    </div>

    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
