{% extends 'base.html.j2' %}
{% import 'macros.html.j2' as macros with context %}

{% block body %}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--9-col delist">
    {% call macros.form(form) %}
    <div class="mdl-textfield mdl-js-textfield">
      {{ form.emails(class="mdl-textfield__input", type="text", rows="10", id="delemails") }}
      <label class="mdl-textfield__label" for="delemails">Emails...</label>
    </div>
    <div class="checkbox" id="use_all_emails">{{ form.use_all_emails }}
      <label class="" for="use_all_emails">Delete All</label>
    </div>
    <div class="form-buttons">
      {{ form.submit(class="mdl-button mdl-js-button mdl-button--raised") }}
    </div>
    {% endcall %}
  </div>
  <div class="mdl-cell mdl-cell--4-col delist"> 
    <h5>Deleted:</h5>
    <ul class="mdl-list">
      {% for student in deleted|sort %}
      <li class="mdl-list__item delitem">
        <span class="mdl-list__item-primary-content">
          {{ student }}
        </span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="mdl-cell mdl-cell--4-col delist">
    <h5>Did not exist:</h5>
    <ul class="mdl-list">
      {% for student in did_not_exist|sort %}
      <li class="mdl-list__item delitem">
        <span class="mdl-list__item-primary-content">
          {{ student }}
        </span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
