{% extends 'base.html.j2' %}
{% import 'macros.html.j2' as macros with context %}

{% block body %}
<label>Currently Available Mock Users:</label>
<ul>
  {% for mock_user in available_mock_users %}
    <li> {{mock_user}} </li>
  {% endfor %}
</ul>
{% call macros.form(form) %}
<main class="mdl-grid">
  <div class="form-buttons">
    <label for="user_id">User ID:</label>   {{ form.user_id(class="mdl-textfield__input") }}
    {{ form.submit(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent") }}
  </div>
</main>
{% endcall %}
{% endblock %}
