{% extends 'base.html.j2' %}
{% import 'macros.html.j2' as macros with context %}

{% block body %}
{% call macros.form(form) %}
  From Email: {{ macros.field(form.from_email) }}
  From Name: {{ macros.field(form.from_name) }}
  Subject: {{ macros.field(form.subject) }}
  BCC: {{ macros.field(form.bcc) }}
  Additional Text: {{ macros.field(form.additional_text) }}
  {{ macros.field(form.submit) }}
{% endcall %}
{% endblock %}
