{% extends 'base.html.j2' %}
{% import 'macros.html.j2' as macros with context %}

{% block body %}
<section class="rooms mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h4>Rooms</h4>
    <ul class="mdl-list">
    {% for room in exam.rooms %}
      <li class="mdl-list__item">
        <a class="mdl-list__item-primary-content" href="{{ url_for('room', exam=exam, id=room.id) }}">
          {{ room.display_name }}
        </a>
        {% if room.start_at %}
          <span style="margin-right: 5px;"><small>
            {{ room.start_at_time_display }}
          </small></span>
        {% endif %}
        {% if room.duration_minutes %}
          <span><small>
            {{ room.duration_display }}
          </small></span>
        {% endif %}
        <div class="material-icons std" onclick="location.href = '{{ url_for('edit_room', exam=exam, id=room.id) }}';" style="float: right;">edit</div>
        <div class="material-icons std" onclick="location.href = '{{ url_for('delete_room', exam=exam, id=room.id) }}';" style="float: right;">clear</div>
      </li>
    {% endfor %}
    </ul>
  </div>
  <button class="mdl-button mdl-js-button roomspg-add-room-button" onclick="location.href = '{{ url_for('import_room', exam=exam) }}';">
    <i class="material-icons">add</i>
    Add rooms
  </button>
</section>
{% endblock %}
