{% macro form(form) %}
<form method="POST">
  {{ form.hidden_tag() }}
  {{ caller() }}
</form>
{% endmacro %}

{% macro field(field) %}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
  <ul>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
{% endmacro %}

{% macro room(room, highlight_seat=none, show_attributes=false, staff=true) %}
{% if room.seats %}
<div class="room">
  <h4>{{ room.display_name }}
    {% if room.start_at %}
        <span style="margin-right: 5px;"><small>
          {{ room.start_at_time_display }}
        </small></span>
    {% endif %}
    {% if room.duration_minutes %}
        <span><small>
          {{ room.duration_display }}
        </small></span>
    {% endif %}
  </h4>
  <h6>Front</h6>
  {% set x_min = room.seats|map(attribute='x')|min %}
  {% set x_max = room.seats|map(attribute='x')|max %}
  {% set y_min = room.seats|map(attribute='y')|min %}
  {% set y_max = room.seats|map(attribute='y')|max %}
  {% set scale = 23 %}
  <div class="scroll" style="overflow-y:hidden">
  <div class="seats" style="width:{{ scale * (x_max - x_min + 1) }}px;height:{{ scale * (y_max - y_min + 1) }}px">
  {% for row in room.rows %}
  {% for seat in row %}
    {% set x = scale * (x_max - seat.x) %}
    {% set y = scale * (seat.y - y_min) %}
    {% if loop.first %}
      <div class="seat-label" style="left:{{ x + 30 }}px;top:{{ y }}px">{{ seat.name }}</div>
    {% endif %}
    {% if staff and seat.assignment %}
    <a href="{{ url_for('student', exam=exam, canvas_id=seat.assignment.student.canvas_id) }}">
    {% endif %}
      {% if seat.name == highlight_seat %}
        {% set class = 'seat highlight' %}
      {% elif staff and seat.assignment %}
        {% set class = 'seat occupied' %}
      {% else %}
        {% set class = 'seat' %}
      {% endif %}
      <div id="{{ seat.name }}" class="{{ class }}" style="left:{{ x }}px;top:{{ y }}px"></div>
    {% if staff and seat.assignment %}
    </a>
    {% endif %}
    <div class="seat-tooltip mdl-tooltip mdl-tooltip--large" for="{{ seat.name }}">
      {{ seat.name }}
      {% if show_attributes %}
      {% for attribute in seat.attributes %}
        <br>{{ attribute|upper }}
      {% endfor %}
      {% endif %}
      {% if staff and seat.assignment %}
        <br>{{ seat.assignment.student.name }}
        <br>
          <img class="photo" src="../../students/{{ seat.assignment.student.email }}/photo"/>
        <br>{{ seat.assignment.student.sid }}
      {% endif %}
    </div>
    {% if loop.last %}
      <div class="seat-label" style="left:{{ x - 50 }}px;top:{{ y }}px">{{ seat.name }}</div>
    {% endif %}
  {% endfor %}
  {% endfor %}
  </div>
  </div>
  <h6>Back</h6>
</div>
{% endif %}
{% endmacro %}
