{% extends 'base.html.j2' %}
{% import 'macros.html.j2' as macros with context %}

{% block body %}
{% call macros.form(form) %}
  Name: {{ macros.field(form.display_name) }}
  Google Sheets URL: {{ macros.field(form.sheet_url) }}
  Sheet Name: {{ macros.field(form.sheet_range) }}
  {{ macros.field(form.preview_room) }}
  {{ macros.field(form.create_room) }}
{% endcall %}
{% if seats %}
<div class="room">
  {% set x_min = seats|map(attribute='x')|min %}
  {% set x_max = seats|map(attribute='x')|max %}
  {% set y_min = seats|map(attribute='y')|min %}
  {% set y_max = seats|map(attribute='y')|max %}
  {% set scale = 20 %}
  <div class="seats" style="width:{{ scale * (x_max - x_min + 1) }}px;height:{{ scale * (y_max - y_min + 1) }}px">
  {% for seat in seats %}
    <div id="{{ seat.name }}" class="seat"
      style="left:{{ scale * (x_max - seat.x) }}px;top:{{ scale * (seat.y - y_min) }}px">
    </div>
    <div class="mdl-tooltip" for="{{ seat.name }}">
      {{ seat.name }}
      {% for attribute in seat.attributes %}
        <br>{{ attribute|upper }}
      {% endfor %}
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
