{% extends 'base.html.j2' %}

{% block body %}
<main class="rooms mdl-grid">
  <h3>Using the app</h3>
  <section class="mdl-cell mdl-cell--12-col">
  	<h4>🚧🚧🚧 Under Construction 🚧🚧🚧</h4>
  	<p>Download this <a href="https://github.com/Cal-CS-61A-Staff/seating/blob/master/download_bcourses_photos.py">script</a> and follow the instructions. You should send the slack a zip of the photos in the format of bcoursesID.jpeg (make sure it's not .jpg!). Photos will be added to the seating app shortly. </p>  
  </section>
</main>
{% endblock %}
