{% extends 'base.html.j2' %}
{% import 'macros.html.j2' as macros with context %}

{% block title %}{{ room.display_name }} | {{ super() }}{% endblock %}

{% block body %}
{{ macros.room(room, highlight_seat_id=seat_id, show_attributes=True) }}
{% endblock %}
