{% extends 'base.html.j2' %}
{% import 'macros.html.j2' as macros with context %}

{% block body %}
<section class="rooms mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h4>Staff Offerings</h4>
    <ul class="mdl-list">
    {% for offering in staff_offerings %}
      <li class="mdl-list__item">
        <span style="margin-right: 10px; color: #424242; font-weight: bold;"><small>{{ offering.start_at_date.strftime('%Y-%m') }}</small></span>
        <a class="mdl-list__item-primary-content" href="{{ url_for('offering', offering=offering) }}">
          {{ offering.name }}
        </a>
      </li>
    {% endfor %}
    </ul>
    <h4>Student Offerings</h4>
    <ul class="mdl-list">
    {% for offering in student_offerings %}
      <li class="mdl-list__item">
        <span style="margin-right: 10px; color: #424242; font-weight: bold;"><small>{{ offering.start_at_date.strftime('%Y-%m') }}</small></span>
         <a class="mdl-list__item-primary-content" href="{{ url_for('offering', offering=offering) }}">
           {{ offering.name }}
        </a>
      </li>
    {% endfor %}
    </ul>
    <h4>Other Offerings</h4>
    <ul class="mdl-list">
    {% for offering in other_offerings %}
      <li class="mdl-list__item">
        <span style="margin-right: 10px; color: #424242; font-weight: bold;"><small>{{ offering.start_at_date.strftime('%Y-%m') }}</small></span>
        {{ offering.name }}
      </li>
    {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
