{% extends 'base.html.j2' %}
{% import 'macros.html.j2' as macros with context %}

{% block title %}{{ student.name }} | {{ super() }}{% endblock %}

{% block body %}
<section class="student mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <img class="photo" src="photo"/>
    <h6>{{ student.name }}</h6>
    <p>{{ student.email }}</p>
    <p>{{ student.sid }}</p>
    <p>
    {% if student.assignment %}
      {% set seat = student.assignment.seat %}
      <a href="{{ url_for('room', exam=exam, name=seat.room.name, seat=seat.name) }}">
        {{ seat.room.display_name }} {{ seat.name }}
      </a>
    {% else %}
      No Assigned Seat
    {% endif %}
    </p>
  </div>
</section>
{% endblock %}
