{% extends 'base.html.j2' %}
{% import 'macros.html.j2' as macros with context %}

{% block title %}Students | {{ super() }}{% endblock %}

{% block body %}
<section id="student-table" class="students mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h4>Students</h4>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="search mdl-textfield__input" type="text" id="search">
        <label class="mdl-textfield__label" for="search-expandable">Search</label>
      </div>
    </div>
      <div id="tt5" class="material-icons std" onclick="location.href = '{{ url_for('email', exam=exam) }}';" style="float: right;">email</div>
      <div class="mdl-tooltip" data-mdl-for="tt5">Email</div>

      <div id="tt4" class="material-icons std" onclick="location.href = '{{ url_for('delete_students', exam=exam) }}';" style="float: right;">delete</div>
      <div class="mdl-tooltip" data-mdl-for="tt4">Delete Students</div>

      <div id="tt3" class="material-icons std" onclick="location.href = '{{ url_for('assign', exam=exam) }}';" style="float: right;">assignment</div>
      <div class="mdl-tooltip" data-mdl-for="tt3">Assign</div>

      <div id="tt2" class="material-icons std" onclick="location.href = '{{ url_for('new_photos', exam=exam) }}';" style="float: right;">add_a_photo</div>
      <div class="mdl-tooltip" data-mdl-for="tt2">Add Photos</div>

      <div id="tt1" class="material-icons std" onclick="location.href = '{{ url_for('import_students', exam=exam) }}';" style="float: right;">person_add</div>
      <div class="mdl-tooltip" data-mdl-for="tt1">Add Students</div>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="sort mdl-data-table__cell--non-numeric" data-sort="name" style="text-align: center;">Name</th>
          <th class="sort mdl-data-table__cell--non-numeric" data-sort="email" style="text-align: center;">Email</th>
          <th class="sort mdl-data-table__cell--non-numeric" data-sort="sid" style="text-align: center;">Student ID</th>
          <th class="sort mdl-data-table__cell--non-numeric" data-sort="canvas_id" style="text-align: center;">Canvas ID</th>
          <th class="sort mdl-data-table__cell--non-numeric" data-sort="assignment" style="text-align: center;">Seat</th>
          <th class="sort mdl-data-table__cell--non-numeric" data-sort="assignment" style="text-align: center;">Edit</th>
          <th class="mdl-data-table__cell--non-numeric" style="text-align: center;">Delete</th>
        </tr>
      </thead>
      <tbody class="list">
        {% for student in exam.students %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">
            <a class="name" href="{{ url_for('student', exam=exam, canvas_id=student.canvas_id) }}">
              {{ student.name }}
            </a>
          </td>
          <td class="email mdl-data-table__cell--non-numeric" style="text-align: center;">{{ student.email.replace("@berkeley.edu", "@") }}</td>
          <td class="sid mdl-data-table__cell--non-numeric" style="text-align: center;">{{ student.sid }}</td>
          <td class="canvas_id mdl-data-table__cell--non-numeric" style="text-align: center;">{{ student.canvas_id }}</td>
          <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">
          {% if student.assignment %}
            {% set seat = student.assignment.seat %}
            <a class="assignment" href="{{ url_for('room', exam=exam, name=seat.room.name, seat=seat.name) }}">
              {{ seat.room.display_name }} {{ seat.name }}
            </a>
          {% else %}
            <span class="assignment" style="text-align: center;">NOT SET<br>Wants: {{ student.wants }}<br>Avoids: {{ student.avoids }}</span>
          {% endif %}
          </td>
          <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">
            <div class="material-icons" style="text-align: center; margin: 0; cursor: pointer;" onclick="location.href = '{{ url_for('edit_student', exam=exam, canvas_id=student.canvas_id) }}';" style="float: right;">edit</div>
          </td>
          <td class="mdl-data-table__cell--non-numeric" style="text-align: center;">
            <div class="material-icons" style="text-align: center; margin: 0; cursor: pointer;" onclick="location.href = '{{ url_for('delete_student', exam=exam, canvas_id=student.canvas_id) }}';" style="float: right;">clear</div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>
var options = {
  valueNames: ['name', 'email', 'sid', 'canvas_id', 'assignment']
};

var studentTable = new List('student-table', options);
studentTable.sort('name');
document.getElementById('search').focus();
</script>
{% endblock %}
