{% extends 'base.html.j2' %}
{% import 'macros.html.j2' as macros with context %}

{% block body %}
<section class="students mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h4>Students</h4>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th class="mdl-data-table__cell--non-numeric">Email</th>
          <th>Student ID</th>
          <th class="mdl-data-table__cell--non-numeric">Seat</th>
        </tr>
      </thead>
      <tbody>
        {% for student in exam.students %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            <a href="{{ url_for('student', exam=exam, email=student.email) }}">
              {{ student.name|title }}
            </a>
          </td>
          <td class="mdl-data-table__cell--non-numeric">{{ student.email }}</td>
          <td>{{ student.sid }}</td>
          <td class="mdl-data-table__cell--non-numeric">
          {% if student.assignment %}
            {% set seat = student.assignment.seat %}
            <a href="url_for('room', exam=exam, name=seat.room.display_name, seat=seat.name)">
              {{ seat.room.display_name }} {{ seat.name }}
            </a>
          {% else %}
            None
          {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
