.flash-messages {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 300px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  opacity: 0.9;
}

.alert-icon {
  margin-right: 10px;
}

.close-alert {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: white;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.9;
  border: none;
  background: none;
  cursor: pointer;
}

.alert-success {
  background-color: #4caf50;
}
.alert-info {
  background-color: #2196f3;
}
.alert-warning {
  background-color: #ff9800;
}
.alert-error {
  background-color: #f44336;
}
