a {
  text-decoration: none;
}

header a {
  color: inherit;
  font-weight: inherit;
}

@media (max-width: 400px) {
  .hidden-small {
    display: none;
  }
}

.center-section {
  max-width: 620px;
}

.rooms li {
  padding-left: 0;
}

.room {
  padding: 50px;
}

.seats {
  position: relative;
}

.seat {
  position: absolute;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #555;
  background-color: #ddd;
  outline: 0;
}

.seat.highlight {
  background-color: #0c0;
}

.seat:hover {
  background-color: #c00;
}

.photo {
  width: 187px;
  height: 250px;
}
