a {
  text-decoration: none;
}

header a {
  color: inherit;
  font-weight: inherit;
}

@media (max-width: 400px) {
  .hidden-small {
    display: none;
  }
}

.rooms {
  max-width: 620px;
}

.rooms li {
  padding-left: 0;
}

.room h1,
.room h2,
.room h3,
.room h4,
.room h5,
.room h6 {
  text-align: center;
}

.seats {
  position: relative;
  margin: 10px auto;
}

.seat {
  position: absolute;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 2px solid #555;
  background-color: #ddd;
  outline: 0;
}

.seat-label {
  position: absolute;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.seat.highlight {
  background-color: #0c0;
}

.seat:hover {
  background-color: #c00;
}

.students {
  max-width: 960px;
}

.students table {
  width: 100%;
}

.photo {
  width: 187px;
  height: 250px;
}
